<!-- layouts/_default/_markup/render-image.html -->
<!-- Developed/Adapted by pduchnovsky, https://pduchnovsky.com/2020/11/native-image-lazy-load/ -->

{{ $img := "" }}{{ $small := "" }}{{ $medium := "" }}{{ $big := "" }}{{ $caption := "" }}{{- $srcset := slice -}}
{{ $src := ( .Destination | safeURL ) }}
{{ $alt := .PlainText }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}
{{ $imgPath := add "/content" $src }}
{{ if fileExists $imgPath }}
    {{ $img = imageConfig $imgPath }}
{{ else }}
    {{ $imgPath = add "/static" $src }}
    {{ if fileExists $imgPath }}
        {{ $img = imageConfig $imgPath }}
    {{ end }}
{{ end }}
{{ if not $img }}
    {{ with resources.Get .Destination }}
        {{ $src = (. | fingerprint).RelPermalink }}
        {{ $img = . }}
        {{- $sizes := slice 360 480 768 1024 -}}
        {{- range $sizes -}}
            {{- if le (mul . 1) $img.Width -}}
            {{- $thumb := $img.Resize (printf "%dx" .) -}}
            {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
            {{- end -}}
        {{- end -}}
    {{ end }}
{{ end }}

{{ if $img }}
    <figure>
        <img
        src="{{ $src }}"
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        loading="lazy"
        {{- if gt (len $srcset) 0 -}}
            {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
            {{- " sizes=\"100vw\"" | safeHTMLAttr -}}
        {{- end -}}
        />
    {{ with $caption }}
        <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
    </figure>
{{ end }}
